[Unit]
Description=Gunicorn socket

[Socket]
ListenStream=/home/user/.venv/dj_project_name/bin/gunicorn.sock
SocketUser=user
SocketGroup=nginx
SocketMode=660

[Install]
WantedBy=sockets.target
